.contactUs {
	background-color: #aa0407;
	width: 100vw;
	/* height: 100vh; */
	/* overflow: hidden; */
}

.individualDesignation {
	background-color: white;
	padding: 1rem;
	margin: 1rem;
	width: 50%;
	border-radius: 12px;
	font-weight: bold;
	font-family: Myriad Pro;
	text-align: center;
	color: #77000c;
	font-size: larger;
	opacity: 0.5;
	height: fit-content;
}

.box-2 {
	/* transform: translateY(40%); */
	flex: 1;
	/* height: '100vh', */
	justify-content: center;
	align-items: center;
}

.box-3 {
	/* transform: translateY(20%); */
	flex: 1;
	/* height: 100vh */
	align-items: center;
	display: flex;
	flex-direction: column;
}

.individualDesignation:hover {
	cursor: pointer;
	opacity: 1;
}

.container-1 {
	justify-content: center;
	align-items: center;
	display: flex;
	transform: translate(1px);
	z-index: 2;
	margin-top: -40vw;
}

.c {
	will-change: opacity, transform;    
	width: 35vw;
    /* margin-left: -17vw;
    margin-top: -8vw; */
}

.sliderClass{
      will-change: opacity, transform;    
	width: 35vw;
      margin-left: 1.5rem;
}

.designation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex: 1;
}
.contact-us-building {
	z-index: -2;
}

.back {
	background-size: cover;
      position: absolute;
}

.container-2{
	display: none;
}

@media only screen and (max-width: 720px){
	.container-1{
		display: none;
	}

	.container-2{
		display: flex;
		transform: translate(1px);
		text-align: center;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: -35vw;
	}

	.heading-mobile{
		font-weight:bold;
		color: white;
		font-family: 'Montserrat';
		font-size: x-large;
	}

	.slick-slider{
		width:60vw;
	}

}

