.register-container {
	background: radial-gradient(farthest-side, #1a53e6, #3678f3);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.clouds {
	width: 100vw;
}
.register-div {
	background-color: white;
	width: 40vw;
	padding: 3rem 4vw 3rem 4vw;
	transform: translate(1px);
	border-radius: 50px;
	margin-top: -35vw;
	box-shadow: 5px 10px 20px #353535;
}
.bbuilding {
	width: 100vw;
	margin-top: -50vw;
}
.heading-container-reg {
	margin-top: 5rem;
}
.headingReg {
	font-size: 72px;
	color: white;
	display: block;
	font-family: 'Montserrat';
}
.btn-secondary {
	background-color: rgb(189, 187, 187);
	width: 150px;
	height: 60px;
	border-radius: 20px;
	font-size: 20px;
}
.btn-light {
	border-radius: 20px;
}
.heading-container-reg1 {
	display: none;
}

@media only screen and (max-width: 720px) {
	.heading-container-reg {
		display: none;
	}
	.heading-container-reg1 {
		display: block;
		margin-top: -25vw;
	}
	.register-div {
		margin-top: 0;
		width: 80vw;
		padding: 1.5rem 7vw 1.5rem 7vw;
	}
	.bbuilding {
		width: 250vw;
		margin-top: -80vw;
		margin-left: 120vw;
	}
	.headingReg {
		font-size: 36px;
	}
	.btn-secondary {
		width: 100px;
		height: 50px;
		font-size: 16px;
	}
}
