.pro-event-container {
	height: 120vh;
	background-color: rgb(251, 123, 175);
	position: relative;
}

.event-context {
	height: 109vh;
}

.pevent-bottom {
	width: 100vw;
    max-height: 120vh;
	position: absolute;
	bottom: 0vh;
	overflow: hidden;
}

@media only screen and (max-width: 1300px){
    .pevent-bottom{
        bottom: 0vh;
    }
}


.pevent-tickets{
    z-index: 10;
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-container{
    background-image: url('./poster-container.png');
    width: calc(min(32vw, 330px) + 40px);
    height: calc(min(35vw, 360px) + 40px);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pevent-poster {
	height: min(35vw, 360px);
	width: min(32vw, 330px);
    padding: 10px 25px 20px 15px;
}

.pevent-title {
	font-family: 'Montserrat';
	color: white;
    font-weight: bold;
    font-size: min(45px, 3vw);
    text-shadow: 4px 4px #000000;
} 

.pevent-register{
    width: 50vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.detail-container{
    width: 40vw;
    height: auto;
    min-height: 25vh;
    background-color: white;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 49px;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Roboto', 'sans-serif';
}

.pevent-mobile {
	display: none;
}

.pevnt-mobile-bottom {
    position: absolute;
	bottom: -5vh;
}

.pevnt-mobile-bottom > img {
	height: 70vh;
	width: 306vw;
	position: absolute;
	left: -103vw;
	bottom: 0vh;
}

.pevent-tickets-m{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15vh;
}

.details-m{
    display: flex;
    justify-content: center;
}

.detail-container-m{
    width: min(90vw,500px);
    height: auto;
    background-color: white;
    border-radius: 49px;
    margin-top: 2vh;
    padding: 15px 15px 15px;
    font-size: 1em;
    font-family: 'Roboto', 'sans-serif';
}

#big-title{
    font-size: min(40px, 7vw);
}

.registre-btn-container{
    display: flex;
    width: 100vw;
    justify-content: center;
    z-index: 5;
    opacity: 0.8;
}

.register-button-m {
    display: flex;
    width: min(50vw,200px);
    justify-content: center;
    align-items: center;
    border-radius: 49px;
    background-color: white;
    padding: 5px 20px;
    box-shadow: 1px 3px;
    margin-top: 15px;
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
    .pro-event-container{
        height: 125vh;
    }
    .pevent-tickets{
        display: none;
    }

    .ticket-container-outer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ticket-container{
        background-image: url('./poster-container.png');
        width: calc(min(50vw, 270px) + 25px);
        height: calc(min(40vh, 320px) + 25px);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

	.pevent-bottom {
		display: none;
	}
	.pevent-mobile {
		display: block;
	}
	.event-context {
		height: 100vh;
	}
    .pevent-poster {
		height: min(40vh, 320px);
		width: min(50vw, 270px);
	}
}

@media only screen and (max-width: 420px){
    .pro-event-container{
        height: 125vh;
    }
    .pevent-tickets{
        display: none;
    }
    .detail-container-m{
        font-size: 1em;
    }
    .pevent-tickets-m{
        top: 10vh;
    }
	.pevent-poster {
		height: min(35vh, 300px);
		width: min(55vw, 200px);
	}
    .ticket-container{
        background-image: url('./poster-container.png');
        width: calc(min(55vw, 200px) + 15px);
        height: calc(min(35vh, 300px) + 15px);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}
