.pro-events-container {
	height: 100vh;
	background-color: rgb(251, 123, 175);
	scroll-snap-align: start;
	position: relative;
}

.events-context {
	height: 103vh;
}

.pevents-bottom {
	width: 100vw;
	position: absolute;
	bottom: 0vh;
	overflow: hidden;
}

.pevents-tickets {
	z-index: 10;
	height: 30vh;
	width: 100vw;
	position: absolute;
	top: 25vh;
}

.pevents-r1 {
	display: flex;
	width: 100vw;
	justify-content: center;
}

.pevents-r2 {
	display: flex;
	width: 100vw;
	justify-content: center;
}

.pevents-r3 {
	display: none;
}

.ticket {
	width: min(29vw, 290px);
	/* height: min(19vw, 190px); */
	z-index: 1;
	transition: all 0.25s ease-in-out;
}
.ticket:hover{
	z-index: 99;
	transform: scale(1.15);
	cursor: pointer;
}
.ticket3 {
	width: min(32vw, 320px);
	/* height: min(20vw, 200px); */
	margin-top: -5px;
	z-index: 1;
	transition: all 0.25s ease-in-out;
}
.ticket3:hover{
	z-index: 99;
	transform: scale(1.15);
	cursor: pointer;
}
.ticket4 {
	width: min(31vw, 310px);
	/* height: min(19vw, 190px); */
	z-index: 1;
	transition: all 0.25s ease-in-out;
}
.ticket4:hover{
	z-index: 99;
	transform: scale(1.15);
	cursor: pointer;
}
.ticket5 {
	width: min(32vw, 320px);
	/* height: min(20vw, 200px); */
	margin-top: -15px;
	z-index: 1;
	transition: all 0.25s ease-in-out;
}
.ticket5:hover{
	z-index: 99;
	transform: scale(1.15);
	cursor: pointer;
}
.pevents-title {
	font-family: 'Montserrat';
	color: white;
	position: absolute;
	top: 11vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	font-size: min(50px, 10vw);
}

.pevents-mobile {
	display: none;
}

.blank-space-bottom {
	height: 6vh;
	background-color: white;
}

.pevnts-mobile-bottom {
	bottom: 6vh;
}

.pevnts-mobile-bottom > img {
	height: 80vh;
	width: 306vw;
	position: absolute;
	left: -103vw;
	bottom: 0vh;
}

@media only screen and (max-width: 800px) {
	.pro-events-container {
		scroll-snap-align: start;
	}
	.pevents-bottom {
		display: none;
	}
	.pevents-mobile {
		display: block;
	}
	.pro-events-container {
		height: 106vh;
	}
	.events-context {
		height: 100vh;
	}
}

@media only screen and (max-width: 500px) {
	.pro-events-container {
		scroll-snap-align: start;
		height: 100vh;
	}
	.pevents-tickets {
		top: 20vh;
	}

	.pevents-r1 {
		flex-direction: row;
		height: 18vh;
	}
	.pevents-r2 {
		flex-direction: row;
		height: 18vh;
	}
	.pevents-r3 {
		display: flex;
		width: 100vw;
		justify-content: center;
	}

	.ticket {
		width: min(50vw, 400px);
		height: unset;
	}
	.ticket3 {
		width: min(55vw, 415px);
		height: unset;
		position: absolute;
		left: -1vw;
	}
	.ticket4 {
		width: min(53vw, 410px);
		height: unset;
		position: absolute;
		right: -2vw;
	}
	.ticket5-container {
		display: none;
	}
	.ticket5 {
		width: min(59vw, 440px);
		height: unset;
	}
}
