$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
    top: -30px;
    font-size: 20px;
    color: $main-color;
}

.group {
    position: relative;
    margin: 45px 0;
    .form-input {
        background: none;
        background-color: rgb(218, 218, 218);
        color: $sub-color;
        font-size: 20px;
        padding: 15px 15px 15px 8px;
        display: block;
        width: 100%;
        border: none;
        border-radius: 15px;
        border-bottom: 1px solid $sub-color;
        margin: 60px 0;
        &:focus {
            outline: none;
        }
        &:focus ~ .form-input-label {
            @include shrinkLabel();
        }
    }
    input[type='password'] {
        letter-spacing: 0.3em;
    }
    .form-input-label {
        color: $sub-color;
        font-size: 20px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 300ms ease all;
        &.shrink {
            @include shrinkLabel();
        }
    }
}
@media only screen and (max-width: 720px) {
    .form-input{
        font-size: 14px !important;
        padding: 10px 10px 10px 5px !important;
        margin: 30px 0 !important;
    }.form-input-label {
        font-size: 16px !important;
    }.group{
        margin: 50px 0 !important;
    }
}