.contactUs{
      background-color: #AA0407;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
}

.individualDesignation{
      background-color: white;
      padding:1rem;
      margin: 1rem;
      width:50%;
      border-radius: 12px;
      font-weight: bold;
      font-family: Myriad Pro;
      text-align: center;
      color: #77000C;
      font-size: larger;
      opacity: 0.5;
      height: fit-content;
}

.box-1{
      transform: translateY(30%)
}

.box-2{
      transform: translateY(40%);
}

.box-3{
      transform: translateY(25%)
}

.individualDesignation:hover{
      cursor: pointer;
      opacity: 1;
}

.ant-carousel .slick-slide {
      text-align: center;
      height: 160px;
      line-height: 160px;
      background: #364d79;
      overflow: hidden;
}
    
.ant-carousel .slick-slide h3 {
      color: #fff;
}
