.contactUs{
      background-color: #AA0407;
      width: 100vw;
      /* height: 100vh; */
      /* overflow: hidden; */
}

.individualDesignation{
      background-color: white;
      padding:1rem;
      margin: 1rem;
      width:50%;
      border-radius: 12px;
      font-weight: bold;
      font-family: Myriad Pro;
      text-align: center;
      color: #77000C;
      font-size: larger;
      opacity: 0.5;
      height: fit-content;
}

.box-1{
      transform: translateY(30%)
}

.box-2{
      transform: translateY(40%);
}

.box-3{
      transform: translateY(20%)
}

.individualDesignation:hover{
      cursor: pointer;
      opacity: 1;
}

.container-1{
      margin-top: -50vw;
}

.c{
      position: absolute;
      will-change: opacity,transform;
}
