.home-page {
	height: 100vh;
}
.App {
	text-align: center;
	overflow-x: hidden;
	/* overflow-y: scroll; */
	height: 100%;
	position: relative;
	will-change: transform;
}
.mobileApp {
	display: none;
}
::-webkit-scrollbar{
	display: none;
}
/* .fp-scrollable {
	height: 100% !important;
} */
@media only screen and (max-width: 800px) {
	.App {
		scroll-snap-type: y mandatory;
		will-change: unset;
	}
	.mobileApp {
		display: unset;
		overflow: auto;
	}.desktopApp{
		display: none;
	}
}
.iScrollIndicator{
	display: none !important;
}