.home-page {
	height: 100vh;
}
.App {
	text-align: center;
	overflow: hidden;
	overflow-y: scroll;
	height: 100vh;

	position: relative;
	will-change: transform;
}
@media only screen and (max-width: 800px) {
	.App {
		scroll-snap-type: y mandatory;
	}
}
